<!DOCTYPE html>

{% load static %}
<!-- START HEAD -->
<head>
    <meta charset="UTF-8" />

    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <title>Handmade-Leather-Journal</title>

    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/bootstrap.css" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" />

    <link rel='stylesheet' id='custom-css'  href="{% static '' %}css/custom.css" type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed:300,400,800%3A300%7CRokkitt%7CShadows+Into+Light%7CMaven+Pro:400,700%7CAbel%7CMontez' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css'  href="{% static '' %}css/responsive.css" type='text/css' media='all' />
    <link rel='stylesheet' id='tipsy-css'  href="{% static '' %}css/tipsy.css" type='text/css' media='all' />

    <link rel='stylesheet' id='fonts-css'  href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />
    <link rel='stylesheet' id='full-descriptor-css'  href="{% static '' %}portfolios/full-description/css/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='slide-details-css'  href="{% static '' %}portfolios/slide-detail/css/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='shortcode-css'  href="{% static '' %}css/shortcodes.css" type='text/css' media='all' />

    <link rel='stylesheet' id='colorbox-css'  href="{% static '' %}css/colorbox.css" type='text/css' media='all' />
    <link rel='stylesheet' id='custom-button-mfast-3-css'  href="{% static '' %}css/buttons/mfast-3.css" type='text/css' media='all' />


    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '' %}favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{% static '' %}favicon.ico" />
    <!-- [favicon] end -->

    <!-- Touch icons more info: http://mathiasbynens.be/notes/touch-icons -->
    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static '' %}apple-touch-icon-144x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static '' %}apple-touch-icon-114x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static '' %}apple-touch-icon-72x.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{% static '' %}apple-touch-icon-57x.png" />

    <link rel='stylesheet' id='thickbox-css'  href="{% static '' %}js/thickbox/thickbox.css" type='text/css' media='all' />

    <script type='text/javascript' src="{% static '' %}js/jquery/jquery.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- END HEAD -->

<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
<div id="wrapper" class="container group">
<!-- START TOP BAR -->

<!-- START TOP BAR -->
<div id="topbar">
    <div class="container">


        <div class="row">

            <div id="last-tweets-3" class="widget-first span6 widget last-tweets">


                <h3>Last Tweets</h3>
                <p> <b>WELCOME TO KAGZI INDUSTRY</b></p>
                <div class="list-tweets-3"></div>


                <script type="text/javascript">
                    jQuery(function($){
                        $('#last-tweets-3 .list-tweets-3').tweetable({
                            listClass: 'tweets-widget-3',
                            username: 'YIW',
                            time: false,
                            limit: 3,
                            replies: false
                        });
                    });
                </script>

            </div>

            <div id="text-8" class=" widget-last span6 widget widget_text">
                <div class="textwidget">
                     <a href="https://www.facebook.com/people/Kagzi-Industries/100070466465351/" class="fa fa-facebook" title="Facebook"  ></a>



                    <a href="https://twitter.com/Kagziindustrie1" class="fa fa-twitter" title="Twitter"  ></a>



                    <a href="https://www.linkedin.com/company/kagzi-industry/?viewAsMember=true" class="fa fa-linkedin" title="Linkedin"  ></a>


                        <a href="https://www.instagram.com/kagziindustry/" class="fa fa-instagram" title="instagram"  ></a></div>



            </div>
        </div>
    </div>
</div>

<script>
    jQuery(function($){
        var twitterSlider = function(){
            $('#topbar .last-tweets ul').addClass('slides');
            $('#topbar .last-tweets').flexslider({
                animation: "fade",
                slideshowSpeed: 5 * 1000,
                animationDuration: 700,
                directionNav: false,
                controlNav: false,
                keyboardNav: false
            });
        };
        $('#topbar .last-tweets > div').bind('tweetable_loaded', function(){
            twitterSlider();
        });
    });
</script>

<!-- END TOP BAR -->

<!-- START HEADER -->
<div id="header" class="group">
    <div class="group container">
        <div class="row">
            <div class="span12">

                <div class="row">
                    <!-- START LOGO -->
                    <div id="logo" class="span4 group">
                        <a id="logo-img" href="/" title="">
                            <img src="{% static 'ales.png' %}" title="Kagziindustry" alt="Kagziindustry" />
                        </a>

                        <p id="tagline"><b>KAGZI INDUSTRY</b></p>
                    </div>
                    <!-- END LOGO -->
                    <div id="menu" class="span8 group">
                        <!-- START MAIN NAVIGATION -->
                        <div class="menu">
                            <ul id="nav" class="sf-menu">
                                <li class="">
                                    <a href="/">
                                      <b>Home</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>





                                <li class="">
                                    <a href="/About/">
                                       <b>About Us</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>

                                <li class=" ">
                                    <a href="/Gallery/">
                                        <b>`Gallery</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>

                                <li class=" ">
                                    <a href="#">
                                        <b>Products</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/Handmade-Leather-journal/">
                                                <b>Handmade-Leather-Journal</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="current-menu-item">
                                            <a href="/Handmade-christmas-ornament/">
                                               <b>Handmade-Christmas-Ornament</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-Giftproducts/">
                                                <b>Handmade-Giftproducts</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-Lamp-star/">
                                              <b>Handmade-Lamp-Star</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-Leather-bag/">
                                               <b>Handmade-Leather-Bag</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-papers/">
                                               <b>Handmade-Papers</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-papers-bag/">
                                               <b>Handmade-Papers-Bag</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-papers-box/">
                                                <b>Handmade-Papers-Box</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Handmade-plantable-papers/">
                                               <b>Handmade-Plantable-Papers</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>


                                         <li>
                                            <a href="/Vintage-papers/">
                                               <b>Vintage-Papers</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                                <li class=" ">
                                    <a href="/Factory-tour/">
                                        <b>Factory Tour</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                      <ul class="sub-menu">
                                        <li>
                                            <a href="/Let-Collaborate/">
                                                <b>Lets-Collaborate</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>





                                    </ul>
                                </li>
                                <li class=" ">
                                    <a href="/contact/">
                                      <b> Contact</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>

                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="border-header"></div>
</div>
<!-- END HEADER -->



<!-- START PAGE META -->





















<!-- START PRIMARY -->
<div id="primary" class="sidebar-no">
<div class="container group">
<div class="row">
<!-- START CONTENT -->
<div id="content-page" class="span12 content group">
<div id="post-330" class="post-330 page type-page status-publish hentry group">

<script>
    jQuery(document).ready(function($){
        $('.sidebar').remove();

        if( !$('#primary').hasClass('sidebar-no') ) {
            $('#primary').removeClass().addClass('sidebar-no');
            $('.content').removeClass('span9').addClass('span12');
        }

    });
</script>

<div class="row">
    <ul id="portfolio" class="columns columns thumbnails">


        <li  class="first slide-1 work span3 first">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/bagfive.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="001" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/bagfive.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/bagfive.jpg' %}" alt="Open Lightbox" />

                            </a>

                            <a href="portfolio-slide-detail.html">
                                <img src=" " alt="" />
                            </a>
                        </p>


                    </div>
                </div>
            </div>


        </li>


        <li  class="slide-2 work span3">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/bagfour.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="002" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/bagfour.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/bagfour.jpg' %}" alt="Open Lightbox" />

                            </a>

                            <a href="portfolio-slide-detail.html">
                                <img src="" alt="" />
                            </a>
                        </p>


                    </div>
                </div>
            </div>



        </li>


        <li  class="slide-3 work span3">

            <div class="picture_overlay">
            <img width="260" height="172" src="{% static 'gallery/christmasone.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="002" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/christmasone.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/christmasone.jpg' %}" alt="Open Lightbox" />

                            </a>

                            <a href="portfolio-slide-detail.html">

                            </a>
                        </p>


                    </div>
                </div>
            </div>



        </li>


        <li  class="slide-4 work span3">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/boxone.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="004" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/boxone.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/boxone.jpg' %}" alt="Open Lightbox" />

                            </a>

                            <a href="portfolio-slide-detail.html">

                            </a>
                        </p>


                    </div>
                </div>
            </div>



        </li>


        <li  class="slide-5 work span3 first">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/bagthree.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="005" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/bagthree.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/bagthree.jpg' %}" alt="Open Lightbox" /></a>

                            <a href="{% static 'hiya.jpg' %}"><img src="images/icons/project.png" alt="" /></a>
                        </p>


                    </div>
                </div>
            </div>


                                   </li>


        <li  class="slide-6 work span3">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/christmastwo.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="007" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/christmastwo.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/christmastwo.jpg' %}" alt="Open Lightbox" /></a>

                            <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                            </p>


                    </div>
                </div>
            </div>


                                   </li>


        <li  class="slide-7 work span3">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/christmasthree.jpeg' %}" class="attachment-thumb_portfolio_4cols" alt="piggie8" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/christmasthree.jpeg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/christmasthree.jpeg' %}" alt="Open Lightbox" /></a>

                            <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                        </p>


                    </div>
                </div>
            </div>


                                  </li>
 <li  class="slide-7 work span3">

            <div class="picture_overlay">
                <img width="260" height="172" src="{% static 'gallery/jou.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="piggie8" />

                <div class="overlay">
                    <div>
                        <p>
                            <a href="{% static 'gallery/jou.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                <img src="{% static 'gallery/jou.jpg' %}" alt="Open Lightbox" /></a>

                            <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                        </p>


                    </div>
                </div>
            </div>


                                  </li>


    </ul>
</div>

</div>
<!-- START COMMENTS -->
<div id="comments">
</div>
<!-- END COMMENTS -->
</div>
<!-- END CONTENT -->



<!-- START EXTRA CONTENT -->
<!-- END EXTRA CONTENT -->
</div>
</div>
</div>
<!-- END PRIMARY -->












































<!-- START FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div>
                <div class="widget-first widget span3 recent-posts">
                    <h3>Welcome To The Kagzi Industry</h3>
                    <div class="recent-post">
                        <div class="post type-post status-publish format-gallery hentry category-web-design group">

                            <div class="date">
                                <span class="month">Best</span>
                                <span class="day">1</span>
                            </div>

                            <div class="text">
                                <h3>
                                    <a href="blog-detail.html" title="Kagze industry best papers forever in past 500 years">
                                        Kagzi industry best papers forever in past 500 years.
                                    </a>
                                </h3>
                                <p>
                                    <a href="author-celestino.html" title="Posts by celestino" rel="author">

                                    </a>

                                    <a href="blog-detail.html#respond" title="Comment on This is the title of the first article. Enjoy it.">

                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="post type-post status-publish format-standard hentry category-elegant-vintage group">

                            <div class="date">
                                <span class="month">since</span>
                                <span class=""><p style="color:white;">1965</p></span>
                            </div>

                            <div class="text">
                                <h3>
                                    <a href="#" title=" &amp;   We are the best in own domain work">
                                       We are the best in own domain work
                                    </a>
                                </h3>

                                <p>
                                    <a href="#" title="Posts by celestino" rel="author">

                                    </a>
                                    <a href="#" title="Comment on Nice &amp; Clean. The best for your blog!">

                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget span3 widget_flickrRSS">
                    <h3>See images</h3>

                    <a title="1P4B6832" href="{% static 'boxone.JPG' %}"><img alt="1P4B6832" src="{% static 'boxone.JPG' %}"></a>
                    <a title="DSC03253" href="{% static 'boxthree.JPG' %}"><img alt="DSC03253" src="{% static 'boxthree.JPG' %}"></a>
                    <a title="Tappas in Hondarribia" href="{% static 'jou.JPG' %}"><img alt="Tappas in Hondarribia" src="{% static 'jou.JPG' %}"></a>
                    <a title="P1000624" href="{% static 'joufive.JPG' %}"><img alt="P1000624" src="{% static 'joufive.JPG' %}"></a>

                    <a title="20130519_144623.jpg" href="{% static 'jousix.JPG' %}"><img alt="20130519_144623.jpg" src="{% static 'jousix.JPG' %}"></a>
                    <a title="baden-württenmberg und bayern 2013 1 284" href="{% static 'joufour.JPG' %}"><img alt="baden-württenmberg und bayern 2013 1 284" src="{% static 'joufour.JPG' %}"></a>
                </div>
                <div  class="widget span3 contact-info">
                    <h3>Get in touch</h3>
                    <div class="sidebar-nav">
                        <ul>
                            <li>
                                <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Address:</span> Khadi gramodyog road near sanganer stadium, Sanganer, Jaipur, Rajasthan
                            </li>
                            <li>
                                <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Mobile:</span> +91-9928424518,+91-70234 77993
                            </li>
                            <li>
                                <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Tel:</span> +91-141-2730019
                            </li>
                            <li>
                                <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Email:</span> sales@kagzindia.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="last-tweets-2" class=" widget span3 last-tweets">
                    <h3>Information</h3>
                    <p> We are best in handmade papers</p>
                    <p>we provide all Type of Handmade papers prroduct</p>
                     <p>100% Eco friendly from mother nature</p>
                    <p>  Delivery worldwide deliver almost anywere</p>

                    </div>

                    <script type="text/javascript">
                        jQuery(function($){
                            $('#last-tweets-2 .list-tweets-2').tweetable({
                                listClass: 'tweets-widget-2',
                                username: 'envato',
                                time: true,
                                limit: 2,
                                replies: true
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- START COPYRIGHT -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="left span6">
                <a href=""><strong>All Rights reserve by Kagzi industry</strong></a>
            </div>
            <div class="right span6">
                <p>Powered by
                    <a href="" title="">
                        <strong>Atlanta</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END COPYRIGHT -->

</div>
<!-- END WRAPPER -->

</div>
<!-- END BG SHADOW -->


























<!-- START CUSTOM SCRIPT -->

<!-- END CUSTOM SCRIPT -->

<script type='text/javascript' src="{% static '' %}js/jquery.colorbox-min.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.tweetable.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.superfish.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.flexslider-min.js"></script>
<script type='text/javascript' src="{% static '' %}portfolios/filterable/js/jquery.filterable.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.tipsy.js"></script>
<script type='text/javascript' src="{% static '' %}js/responsive.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.mobilemenu.js"></script>
<script type='text/javascript' src="{% static '' %}js/shortcodes.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery/jquery.masonry.min.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.custom.js"></script>

</body>
<!-- END BODY -->
</html>